/* Green Theme */

:root {
    --primary-color: hsl(183, 100%, 36%);
    --secondary-color: hsl(183, 100%, 36%);
    --text-color: #ffffff;
  }

  
  .card {
    border-color: var(--primary-color);
  }
  
  .card-header {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
  .btn-primary{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
    padding: 12px 36px;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    font-weight: 700;
  }

  .btn-primary:hover {
    background-color: black;
    border-color: var(--primary-color);
    color: var(--text-color);

  }



  .form-check-input:checked {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .form-check-input:checked:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .footer {
    background-color: #005761;
    color: var(--text-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    
  }
  
  .footer h5 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  .footer a {
    color: var(--text-color);
    font-weight: 700;
  }
  
  .footer address .text {
    color: var(--text-color);
    font-weight: 700;
  }
  
  .footer hr {
    border-color: var(--text-color);
  }
  
  .footer p {
    color: var(--text-color);
    
  }
  
  .footer .contact-item p {
    margin: 0;
    
  }
  
  .footer .contact-item .item-icon ion-icon {
    color: var(--text-color);
    font-size: 28px;
    margin-right: 12px;
    
  }
  
  .footer .contact-item .contact-link:hover {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
  }
  
  .footer .contact-item .contact-link {
    color: #ffffff;
  }
  
  .footer .contact-item .contact-link:hover {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .footer .address ion-icon {
    color: var(--text-color);
    font-size: 28px;
    margin-right: 12px;
  }