/* Green Theme */
:root {
    --primary-color: hsl(183, 100%, 36%);
    --secondary-color: hsl(183, 100%, 36%);
    --text-color: #ffffff;
  }

  
  .card {
    border-color: var(--primary-color);
  }
  
  .card-header {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
  .btn-primary{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
    padding: 12px 36px;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    font-weight: 700;
  }

  .btn-primary:hover {
    background-color: black;
    border-color: var(--primary-color);
    color: var(--text-color);

  }
  


  .form-check-input:checked {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .form-check-input:checked:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  