/* Green Theme */

:root {
    --primary-color: hsl(183, 100%, 36%);
    --text-color: #ffffff;
}

.card {
    border-color: var(--primary-color);
}

.card-header {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.btn-danger {
    color: var(--text-color);
    padding: 12px 36px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: 700;
}
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-color);
    padding: 12px 36px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: black;
    border-color: var(--primary-color);
    color: var(--text-color);
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-check-input:checked:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.footer {
    background-color: #005761;
    color: var(--text-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer h5 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.2rem;
}

.footer a {
    color: var(--text-color);
    font-weight: 700;
}


.footer .contact-item .item-icon ion-icon {
    color: var(--text-color);
    font-size: 28px;
    margin-right: 12px;
}

.logo{
    margin-left: -10rem;
    margin-bottom: -1rem;
 }

@media (min-width: 1721px) {
    #activeSpeakerContainer {
        margin-left: 15rem;
        width: calc(75% - 2rem);
    }

    #remoteParticipantContainer {
        float: right;
        margin-top: -41.5rem;
    }

    #localParticiapntContainer {
        width: 12rem;
        height: 12rem;
    }
}

@media (max-width: 1720px) {
    #activeSpeakerContainer {
        margin-left: 3rem;
        width: calc(100% - 2rem);
    }

    #remoteParticipantContainer {
        float: none;
        margin-top: 1rem;
        margin-left: 3rem;
    }
}

@media (max-width: 1480px) {
    #activeSpeakerContainer {
        margin-left: 1rem;
        width: calc(100% - 1rem);
    }

    #remoteParticipantContainer {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

@media (max-width: 1024px) {
    .w-90 {
        display: none;
    }

    #activeSpeakerContainer {
        margin-left: 0.25rem;
        width: calc(100% - 0.5rem);
    }
    #hero1 {
        margin-left: -21rem;
    }
    #remoteParticipantContainer {
        margin-top: 0.25rem;
        margin-left: 0.25rem;
    }
    .navbar-nav{
        margin-right: -5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .logo{
        margin-left: -12rem;
        
     }
}
